---
import CustomTitle from "../components/CustomTitle.astro";
import MainLayout from "../layouts/MainLayout.astro";
// Server Only
const name = "Nicolás Agudelo";
const title = "Home Page";

const currentDate = new Date();
---

<MainLayout title="Home Page">
  <CustomTitle title=`${name}`></CustomTitle>
  <p>Momento actual: {currentDate.toLocaleTimeString()}</p>
  <p id="current-time">Momento actual real:</p>

  <script>
    // Client Only

    const currentTimeParagraph = document.querySelector(
      "#current-time",
    ) as HTMLParagraphElement;

    currentTimeParagraph.innerText = `Momento actual real: ${new Date().toLocaleTimeString()}`;
  </script>
</MainLayout>
